.plantCardLarge {
  background: white;
  border-radius: 4px;
  box-shadow: 0 12px 19px 0 rgba(0, 0, 0, 0.03),
    0 -12px 19px 0 rgba(0, 0, 0, 0.03);
  color: rgba(33, 33, 33, 0.9);
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  height: 680px;
  margin-bottom: 3rem;
  min-width: 420px;
  padding-bottom: 1rem;
  text-align: center;
  overflow: hidden;
  width: 29%;
}

.plantCardLargePhoto {
  height: 90%;
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  object-fit: cover;
}

.plantCardLargeLuxLevel {
  display: block;
  margin: 1rem auto;
}

.label:hover {
  font-size: 0.9rem;
  cursor: pointer;
}

.label:active {
  font-size: 0.8rem;
  cursor: pointer;
}
