.buttonPosition {
  position: relative;
}

.description {
  font-family: 'Karla';
  font-size: 22px;
  margin-top: 20px;
  width: 60%;
  animation: fadein 2s ease-in;
}

.header {
  font-family: 'Karla';
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  animation: fadein 1s ease-in;
}

.heartButton {
  background-color: #ffe5a4;
  border: none;
  margin-left: 82px;
}

.heartButton:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.indicator {
  height: 32px;
  width: 122px;
  animation: fadein 1.5s ease-in;
}

.plantPicture {
  height: 100%;
  max-width: 100%;
  animation: fadein 2s ease-in;
}

.plantPictureContainer {
  height: 1000px;
  left: 75%;
  position: absolute;
  top: -72px;
  width: 850px;
}

.title {
  font-family: 'Halant';
  font-size: 62px;
  margin-bottom: 24px;
  margin-top: 24px;
  animation: fadein 1s ease-out;
}

.titleContainer {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-top: 29px;
}

.topCardContainer {
  background-color: #ffe5a4;
  border-bottom-right-radius: 26px;
  border-top-right-radius: 26px;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  padding-bottom: 56px;
  padding-left: 245px;
  position: relative;
  width: 50%;
  animation: fadein 2s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
