.navBar {
  align-items: center;
  background-color: #ffc32d;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 0.38fr;
  height: 73px;
  justify-content: space-between;
}

.logo {
  margin-left: 39px;
  width: 9.2rem;
  padding-top: 9px;
  grid-column: 1;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.logo:active {
  transform: scale(0.9);
}
