.loginContainer {
  grid-column: 4;
  justify-self: center;
}

.googleButton {
  background: none !important;
  border: solid 2px #212121 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  color: #212121 !important;
  display: inline-block !important;
  font-family: 'Karla', sans-serif !important;
  font-size: 1.3rem !important;
  font-weight: 700 !important;
  padding: 0.4rem 3.2rem !important;
  min-width: 11rem;
  margin: 0 2rem;
}

.googleButton:hover {
  background: black !important;
  color: white !important;
  cursor: pointer !important;
  transform: scale(1.1);
}

.googleButton:active {
  transform: scale(0.9);
}

.googleButton:active,
.googleButton:focus {
  outline: none !important;
}

.googleButton > div {
  display: none !important;
}

.googleButton > span {
  font-weight: bold !important;
}
