.wishlistViewContainer {
  color: rgba(33, 33, 33, 0.9);
}

.title {
  display: flex;
  font-family: 'Halant';
  font-size: 60px;
  justify-content: center;
  margin-top: 45px;
  animation: fadein 1s ease-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.loading {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: scale(13);
  z-index: -1;
}
