.navLinksContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: 'Karla', sans-serif;
  font-size: 1.4vw;
  grid-column: 2;
}

.navLink,
.navLinkSelected {
  padding-top: 5px;
  color: rgba(33, 33, 33, 0.9);
}

.navLinkSelected {
  font-weight: bold;
  transform: scale(1.1);
}

.navLink:hover,
.navLinkSelected:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.navLink:active,
.navLinkSelected:active {
  transform: scale(0.9);
}
